/* Root */
:root {
  /* Font size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;

  /* Margin */
  --margin-micro: 5px;
  --margin-small: 10px;
  --margin-normal: 15px;
  --margin-large: 35px;
  --margin-hastag: 5px;
  --margin-block: 55px;

  /* Padding */
  --padding-small: 3px;
  --padding-normal: 6px;
  --padding-large: 12px;

  /* Header */
  --header-margin-topbot: 60px;
  --header-margin-logo: 15%;
  --header-logo-width: 18%;
  --logo-margin-label: 2%;
  --header-label-width: 30%;
  --label-margin-membership: 26%;
  --header-membership-width: 7%;
  --membership-margin-header: 2%;

  /* logo */
  --logo-width: 240px;
  --logo-size: 45px;
  --logo-font-size: 30px;

  /* Search Box */
  --search-box-color: #eeeeee;
  --search-icon-color: #aeaeae;
  --searchBox-width: 500px;
  --searchBox-textfield-width: 420px;
  --searchBox-textfield-height: 25px;

  /* category */
  --category-height: 60px;
  --category-border-width: 1px;
  --category-border-color: #aeaeae;

  /* Menu */
  --menu-border-width: 1px;
  --menu-border-color: #aeaeae;

  /* Shopping List */
  --shoppingList-Margin-LR: 130px;
}

/* All */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body */
body {
  font-family: Roboto;
}

/* ul */
ul {
  list-style: none;
}

/* button */
button,
button:focus {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

/* input */
input,
input:focus {
  border: none;
  outline: none;
}

/* a tag */
a:visited,
a:link {
  color: black;
  text-decoration: none;
}

/* Header */
.header {
  display: flex;
  width: 100vw;
  position: relative;
  margin: var(--header-margin-topbot) 0;
}

.header .headerMarginLogo {
  flex: 2 2 var(--header-margin-logo);
}

.header .logo {
  display: flex;
  position: relative;
  flex: 1 1 var(--header-logo-width);
  min-width: fit-content;
}
.header .logo img {
  background-color: #f5f5f5;
  width: var(--logo-size);
  height: var(--logo-size);
  border-radius: 50%;
  margin-right: var(--margin-small);
}

.header .logo .logoName {
  padding-bottom: var(--padding-normal);
  margin: auto 0;
  font-size: var(--logo-font-size);
}

.header .logoMarginLabel {
  flex: 1 1 var(--logo-margin-label);
  min-width: 30px;
}

.header label {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1 1 var(--header-label-width);
  min-width: 300px;
}

.header label input {
  width: 75%;
  height: var(--searchBox-textfield-height);
  background-color: var(--search-box-color);
  margin: auto 0;
  margin-left: 10%;
  font-size: var(--font-large);
}

.header label .searchIcon {
  position: absolute;
  right: 20px;
  color: var(--search-icon-color);
}

.header label .searchBackground {
  color: var(--search-box-color);
  background-color: var(--search-box-color);
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
}

.header .labelMarginMembership {
  flex: 2 2 var(--label-margin-membership);
}

.header .membership {
  position: relative;
  flex: 1 1 var(--header-membership-width);
  min-width: fit-content;
}

.header .membership ul {
  height: 100%;
  width: 100%;
  display: flex;
}

.header .membership button {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.header .membership button.login {
  margin-right: var(--margin-large);
}

.header .membership button i {
  margin: 0 auto;
  margin-bottom: var(--margin-micro);
}

.header .membershipMarginHeader {
  flex: 1 1 var(--membership-margin-header);
}

/* Category */
.category {
  display: flex;
  width: 100vw;
  height: var(--category-height);
  border-top: var(--category-border-width) solid var(--category-border-color);
  border-bottom: var(--category-border-width) solid var(--category-border-color);
  padding-left: 90px;
}

.category .menu {
  margin: auto 0;
  height: 100%;
  width: 55px;
  margin-right: var(--margin-block);
  border-right: var(--menu-border-width) solid var(--menu-border-color);
  border-left: var(--menu-border-width) solid var(--menu-border-color);
}

.category .choice {
  height: 100%;
  display: flex;
}

.category .choice .sex {
  display: flex;
  width: 90px;
  flex-direction: column;
  font-size: var(--font-normal);
  margin: auto 0;
  margin-right: var(--margin-large);
}

.category .choice .sex li {
  display: flex;
}

.category .choice .sex li input {
  margin: auto 0;
  margin-right: var(--margin-micro);
}

.category .choice .sex li label {
  position: relative;
  bottom: 2px;
}

.category .clothes {
  display: flex;
  width: 400px;
  margin: auto 0;
  justify-content: space-around;
}

.category .clothes li button {
  font-size: var(--font-large);
}

.shoppingList .items {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-top: var(--margin-block);
  padding: 0 var(--shoppingList-Margin-LR);
}

.shoppingList .items .item {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 300px;
}

.shoppingList .items .item .thumbNail {
  flex: 1 1 70%;
}
.shoppingList .items .item .thumbNail img {
  width: 100%;
  height: 100%;
}

.shoppingList .items .item .metadata {
  flex: 1 1 30%;
}
