/* Root */
:root {
  /* Font size */
  --font-large: 20px;
  --font-medium: 16px;
  --font-small: 14px;
  --font-micro: 12px;

  /* Margin */
  --margin-micro: 5px;
  --margin-small: 10px;
  --margin-normal: 15px;
  --margin-large: 35px;
  --margin-hastag: 5px;
  --margin-block: 55px;

  /* Padding */
  --padding-small: 5px;
  --padding-normal: 10px;
  --padding-large: 14px;

  /* Header */
  --header-padding-topbot: 45px;
  --header-margin-logo: 15%;
  --header-logo-width: 18%;
  --logo-margin-label: 2%;
  --header-label-width: 30%;
  --label-margin-membership: 26%;
  --header-moreBtn-width: 15px;
  --header-membership-width: 7%;
  --membership-margin-header: 2%;

  /* logo */
  --logo-width: 240px;
  --logo-size: 45px;
  --logo-font-size: 30px;
  --logo-nav-size: 30px;
  --logo-font-nav-size: 24px;

  /* Search Box */
  --search-box-color: #eeeeee;
  --search-icon-color: #aeaeae;
  --searchBox-width: 500px;
  --searchBox-textfield-width: 420px;
  --searchBox-textfield-height: 25px;

  /* category */
  --category-height: 60px;
  --category-border-width: 1px;
  --category-border-color: #aeaeae;

  /* Menu */
  --menu-border-width: 1px;
  --menu-border-color: #aeaeae;

  /* Shopping List */
  --shoppingList-Margin-LR: 130px;
}

/* All */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body */
body {
  height: fit-content;
  font-family: Roboto;
  /* -ms-overflow-style: none; */
}

body::-webkit-scrollbar {
  display: none;
}

/* ul */
ul {
  list-style: none;
}

/* button */
button,
button:focus {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

/* input */
input,
input:focus {
  border: none;
  outline: none;
}

/* a tag */
a:visited,
a:link {
  color: black;
  text-decoration: none;
}

/* Navigation */
.header.fix {
  position: fixed;
  padding: var(--padding-large);
  box-shadow: 0.2px 0.5px 5px #c7c7c7;
  animation: down 0.3s ease;
  height: 70px;
  z-index: 1;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

@keyframes down {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

.header.fix .menu .moreBtn {
  visibility: visible;
}

.header.fix .logo img {
  width: var(--logo-nav-size);
  height: var(--logo-nav-size);
}

.header.fix .logo .logoName {
  font-size: var(--logo-font-nav-size);
}

/* Header */
.header {
  display: flex;
  width: 100vw;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  padding: var(--header-padding-topbot) 0;
}

/* Margin */
.header .headerMarginLogo {
  min-width: 15px;
  flex: 2 2 var(--header-margin-logo);
}

/* Menu */
.header .menu {
  display: flex;
  visibility: hidden;
}

.header .menu .moreBtn {
  border: 1px solid #c7c7c7;
  width: 35px;
  height: 35px;
  min-width: 35px;
  border-radius: 50%;
  position: relative;
  margin: auto 0;
  right: 15px;
}

/* logo */
.header .logo {
  display: flex;
  position: relative;
  flex: 1 1 var(--header-logo-width);
  min-width: fit-content;
}
.header .logo img {
  width: var(--logo-size);
  height: var(--logo-size);
  border-radius: 50%;
  margin: auto 0;
  margin-right: var(--margin-small);
}

.header .logo .logoName {
  padding-bottom: var(--padding-small);
  margin: auto 0;
  font-size: var(--logo-font-size);
}

.header .logoMarginLabel {
  flex: 1 1 var(--logo-margin-label);
  min-width: 30px;
}

/* Label */
.header label {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1 1 var(--header-label-width);
  min-width: 270px;
}

.header label input {
  width: 75%;
  height: var(--searchBox-textfield-height);
  background-color: var(--search-box-color);
  z-index: 2;
  margin: auto 0;
  margin-left: 10%;
  font-size: var(--font-large);
}

.header label .searchIcon {
  position: absolute;
  right: 20px;
  color: var(--search-icon-color);
}

.header label .searchBackground {
  color: var(--search-box-color);
  background-color: var(--search-box-color);
  width: 100%;
  height: 100%;
  position: absolute;
}

.header .labelMarginMembership {
  flex: 2 2 var(--label-margin-membership);
}

/* Membership */
.header .membership {
  position: relative;
  flex: 1 1 var(--header-membership-width);
  min-width: fit-content;
}

.header .membership ul {
  height: 100%;
  width: 100%;
  display: flex;
}

.header .membership button {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.header .membership button.login {
  margin-right: var(--margin-large);
}

.header .membership button i {
  margin: 0 auto;
  margin-bottom: var(--margin-micro);
}

/* More Button */
.header .moreBtn {
  visibility: hidden;
  width: (--header-moreBtn-width);
  min-width: (--header-moreBtn-width);
  margin: auto 0;
}

/* Margin */
.header .membershipMarginHeader {
  flex: 1 1 var(--membership-margin-header);
}

/* Category */
.category {
  display: flex;
  width: 100vw;
  height: var(--category-height);
  border-top: var(--category-border-width) solid var(--category-border-color);
  border-bottom: var(--category-border-width) solid var(--category-border-color);
  padding-left: 90px;
}

.category .menu {
  margin: auto 0;
  height: 100%;
  width: 5%;
  margin-right: var(--margin-large);
  border-right: var(--menu-border-width) solid var(--menu-border-color);
  border-left: var(--menu-border-width) solid var(--menu-border-color);
}

.category .choice {
  height: 100%;
  display: flex;
  width: 50%;
}

.category .choice .sex {
  display: flex;
  width: 10%;
  min-width: 100px;
  flex-direction: column;
  font-size: var(--font-normal);
  margin: auto 0;
  margin-right: var(--margin-large);
}

.category .choice .sex li {
  display: flex;
}

.category .choice .sex li input {
  margin: auto 0;
  margin-right: var(--margin-micro);
}

.category .choice .sex li label {
  position: relative;
  bottom: 2px;
}

.category .clothes {
  display: flex;
  width: 70%;
  min-width: 500px;
  margin: auto 0;
  justify-content: space-around;
}

.category .clothes li {
  min-width: 100px;
}

.category .clothes li button {
  font-size: var(--font-large);
}

/* Shopping List */
.shoppingList {
  width: 100vw;
}

.shoppingList .lookingFor {
  height: 30px;
  width: fit-content;
  margin-top: 70px;
  position: relative;
  left: 50%;
}

.shoppingList .lookingFor p {
  font-size: 25px;
}
.shoppingList .items {
  width: 85vw;
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  padding-top: 80px;
  margin: 0 auto;
  margin-top: 120px;
  border-top: black solid 2px;
}

.shoppingList .items .item {
  width: 30.33333%;
  margin: 0 1.5%;
}

.shoppingList .items .item a {
  display: flex;
  flex-direction: column;
  height: fit-content;
  /* width: 360px; */
  width: 100%;
  margin-bottom: var(--margin-block);
}

/* Thumnail */
.shoppingList .items .item .thumbNail {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.item_thumbNail {
  width: 280px;
  height: 360px;
  object-fit: fill;
}

.shoppingList .items .item .thumbNail .likeBtn {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Metadata */
.shoppingList .items .item .metadata {
  max-height: 35%;
  height: fit-content;
  width: 100%;
  margin: 0 auto;
  margin-top: var(--margin-large);
}

.shoppingList .items .item .metadata .title {
  font-size: var(--font-large);
  color: #757575;
}

.shoppingList .items .item .metadata .description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: var(--font-medium);
  height: 40px;
  margin-bottom: var(--margin-normal);
}

.shoppingList .items .item .metadata .priceTag {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--margin-normal);
}

.shoppingList .items .item .metadata .priceTag .price {
  font-size: var(--font-large);
}

.shoppingList .items .item .metadata .priceTag .discount {
  font-size: var(--font-large);
  color: red;
}

.shoppingList .items .item .metadata .preference {
  display: flex;
  width: 110px;
  height: 30px;
}

.shoppingList .items .item .metadata .preference .starRating {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-right: 20%;
}

.shoppingList .items .item .metadata .preference .starRating i {
  margin: auto 0;
  color: rgba(255, 187, 0, 0.966);
}

.shoppingList .items .item .metadata .preference .starRating p {
  margin: auto 0;
}

.shoppingList .items .item .metadata .preference .like {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.shoppingList .items .item .metadata .preference .like i {
  margin-top: 9px;
  color: rgba(255, 0, 0, 0.692);
}

.shoppingList .items .item .metadata .preference .like p {
  margin: auto 0;
}

/* Category Hidden Bar */
.categoryBar {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(55, 55, 55, 0.692);
  position: fixed;
  top: 0;
  z-index: 3;
}

.categoryBar.appear {
  display: block;
  animation: fadeIn 0.7s ease;
}

.categoryBar.disappear {
  animation: fadeOut 0.7s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.categoryBar .inner {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 100vh;
  background-color: white;
}

.categoryBar.appear .inner {
  animation: slideInRight 0.7s ease;
}

.categoryBar.disappear .inner {
  animation: slideInLeft 0.7s ease;
}

@keyframes slideInRight {
  0% {
    transform: translateX(-250px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-250px);
  }
}

.categoryBar .inner .categoryHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px;
}

.categoryBar .inner .categoryHeader .logo {
  display: flex;
  width: 120px;
  justify-content: space-between;
}

.categoryBar .inner .categoryHeader .logo img {
  width: 25px;
  height: 25px;
}

.categoryBar .inner .categoryHeader .logo span {
  font-size: 16px;
}

.categoryBar .inner .menu {
  display: flex;
  flex-direction: column;
  margin-top: var(--margin-large);
  padding: 0 15px;
}

.categoryBar .inner .menu p {
  font-size: 20px;
  width: 80%;
  height: 32px;
  border-bottom: 1px solid #373737;
}

.categoryBar .inner .menu .clothes {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  height: 200px;
  justify-content: space-around;
}

.categoryBar .inner .menu .clothes .item {
  font-size: 18px;
}

/* Search Hidden Bar */
.searchBar {
  display: none;
  width: 100vw;
  height: 80px;
  background-color: rgba(55, 55, 55, 0.692);
  position: fixed;
  top: 70px;
  z-index: 0;
}

.searchBar.appear {
  display: block;
  animation: slideInDown 0.4s ease;
}

.searchBar.disappear {
  /* display: none; */
  animation: slideOutUp 0.4s ease;
}

@keyframes slideInDown {
  from {
    transform: translateY(-15px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideOutUp {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(-15px);
    opacity: 0;
  }
}

.searchBar .searchField {
  background-color: #ffffff;
  width: 90%;
  height: 27px;
  margin-left: 5%;
  position: relative;
  top: 25px;
}

.searchBar .searchField label {
  display: flex;
  justify-content: center;
  position: relative;
  top: 5px;
}

.searchBar .searchField input {
  background-color: #ffffff;
  width: 95%;
}

.searchBar .escBtn {
  position: absolute;
  color: #eeeeee;
  right: 7px;
  bottom: 3px;
}

/* Responsisve Design */

/* Narrow browser size on Desktop or Tablet Pc size */
@media screen and (max-width: 1100px) {
  .header .membership span {
    font-size: 11px;
  }

  .category {
    visibility: hidden;
  }

  .shoppingList .items .item {
    width: 100%;
  }

  .shoppingList .items .item a {
    flex-direction: row;
    justify-content: space-around;
    height: 300px;
    width: 100%;
  }

  .shoppingList .items .item .thumbNail {
    width: 50%;
    height: 100%;
  }

  .item_thumbNail {
    width: 200px;
    height: 100%;
  }

  .shoppingList .items .item .metadata {
    width: 40%;
    margin-top: 0;
    margin-right: 10%;
  }
}

/* Mobile */
@media screen and (max-width: 720px) {
  .header.fix {
    max-width: 100vw;
    padding-left: 0;
    padding-right: 0;
  }

  .header.fix .headerMarginLogo {
    max-width: 5%;
    min-width: 5%;
  }
  .header.fix .menu {
    max-width: 10%;
    min-width: 10%;
    margin-left: 3%;
  }
  .header.fix .menu .searchBtn {
    visibility: visible;
  }

  .header.fix .logo {
    max-width: 35%;
    margin-left: 22%;
  }

  .header.fix .logo img {
    width: 20px;
    height: 20px;
  }
  .header.fix .logo .logoName {
    font-size: 17px;
  }
  .header.fix .logoMarginLabel {
    display: none;
    width: 0;
  }
  .header.fix label {
    display: none;
  }

  .header.fix .labelMarginMembership {
    max-width: 15%;
  }

  .header.fix .membership {
    display: none;
  }

  .header .membership span {
    font-size: 0px;
  }

  .header.fix > .moreBtn {
    min-width: 5%;
    max-width: 5%;
    visibility: visible;
  }

  .header.fix .membershipMarginHeader {
    max-width: 5%;
    min-width: 5%;
  }
}
